:root {
  --gator-blue: 228, 100%, 32%;
  --gator-orange: 13, 96%, 53%;
  --gator-green: 145, 60%, 33%;
  color: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: Outfit;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
  background-color: #181818;
  /* background-image: url("./assets/background.svg");
  background-size: cover; */
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10em;
  padding-bottom: 2em;
}

/* Thick Button */
.thick-btn {
  --btn-clr: var(--gator-blue);
  --offset: 5px;
  border: none;
  background-color: hsl(var(--btn-clr));
  padding: 0.5em 1.25em;
  border-radius: 0.5em;
  position: relative;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0 var(--offset) 0
    color-mix(in srgb, hsl(var(--btn-clr)) 80%, black);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.thick-btn.blue {
  --btn-clr: var(--gator-blue);
}

.thick-btn.orange {
  --btn-clr: var(--gator-orange);
}

.thick-btn.green {
  --btn-clr: var(--gator-green);
}

.thick-btn.red {
  --btn-clr: 0, 83%, 50%;
}

.thick-btn.gray {
  --btn-clr: 0, 0%, 50%;
  color: #ccc;
}

/* make thick btn look pressed while being clicked on */
.thick-btn:active {
  transform: translateY(var(--offset));
  box-shadow: none;
}

.thick-btn > a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .thick-btn {
    padding: 0.25 1em;
  }
}
